* {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  height: 100%; }

div {
  display: flex;
  justify-content: center; }

.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto; }

.menu {
  width: auto;
  padding: 0 100px;
  background: #293133; }
  .menu .menu_list {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style: none; }
    .menu .menu_list .menu_item {
      height: 40px; }
      .menu .menu_list .menu_item .menu_link {
        text-decoration: none;
        color: white;
        display: block;
        font-size: 16px;
        height: 100%;
        padding: 0 20px;
        line-height: 40px; }
        .menu .menu_list .menu_item .menu_link:hover {
          background-color: #333d40; }

.product-wrapper {
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
  flex-wrap: wrap; }
  @media screen and (max-width: 992px) {
    .product-wrapper {
      justify-content: space-around; } }
  .product-wrapper.single {
    justify-content: center; }
    .product-wrapper.single form {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 15px 0 0 0; }
  .product-wrapper .product {
    padding: 0 15px;
    margin: 15px 1%;
    border: 1px solid black;
    width: 28%; }
    @media screen and (max-width: 496px) {
      .product-wrapper .product {
        width: 100%;
        margin: 15px 25px; } }
    .product-wrapper .product .product-body {
      flex-direction: column; }
      .product-wrapper .product .product-body .hide {
        display: none !important; }

.admin-view {
  display: flex;
  flex-wrap: wrap;
  padding: 20px; }
  .admin-view div {
    width: 100%; }
  .admin-view .removalForm {
    width: 100%; }

.product-list-view {
  width: 100%;
  flex-wrap: wrap; }
  @media screen and (max-width: 992px) {
    .product-list-view {
      justify-content: space-between; } }
  @media screen and (max-width: 768px) {
    .product-list-view {
      width: auto; } }
  .product-list-view div {
    display: flex;
    justify-content: flex-start;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .product-list-view div {
        flex-direction: column;
        width: auto; } }
    .product-list-view div.list-header, .product-list-view div.product-list-item {
      font-weight: bold;
      margin: 10px; }
      @media screen and (max-width: 768px) {
        .product-list-view div.list-header, .product-list-view div.product-list-item {
          margin-top: 0; } }
    .product-list-view div.product-list-item {
      font-weight: normal; }
    .product-list-view div span {
      min-width: 15%;
      max-width: 20%; }
      @media screen and (max-width: 768px) {
        .product-list-view div span {
          max-width: unset;
          min-width: unset;
          margin-top: 5px; } }

.footer {
  width: 100%;
  position: absolute;
  bottom: 0; }
  .footer .footer-container {
    justify-content: center;
    flex-direction: column; }

/*# sourceMappingURL=style.css.map */
